@model TemporadaDeBasquete.Models.Temporada

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <h1>Detalhes da Temporada</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TemporadaDescricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TemporadaDescricao)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Voltar</a>
    </div>
</div>